body {
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        background-color: #dde0ec;
        color: #635f68;
}

a {
        text-decoration: none;
        color: #000066;
}

a:hover {
    color: #4c0024;
}


h1 {
        text-align: left;
        font-size: 48px;
        color: #4c0024;
}

h2, h3 {
        color: #303941;
}

img {
        height: 400px;
        width: auto;

}

h4, h5 {
    padding-left: 20px;
}