body {
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        background-color: #c4cece;
        color: #635f68;
}

a {
        text-decoration: none;
        color: #cc6a6a;
}

a:hover {
    color: #dff9db;
}


h1 {
        text-align: left;
        font-size: 48px;
        color: #722577;
}

h2, h3 {
        color: #414151;
}

/*img {
        height: 400px;
        width: auto;

}*/

h4, h5 {
    padding-left: 20px;
}

.image-container {
    background-image: url(climbing.jpg);
    background-size: cover;
    position: relative; 
    height: 500px; 
    margin-left: -20px;
    margin-right: -20px;
    background-position: 0% 70%;
    width: auto;
    overflow: hidden;
}
.image-container h1  { 
       position: relative;
       font-size: 100px; 
       top: -10%; 
       left: 3%; 
       color: #c6fcab;
       opacity: .85;
       text-shadow: 2px 2px 8px gray;
}
.image-container h2 {
    position: relative;
    text-align: 50%, 0;
    color: white;
    top: -22%;
    left: 85px;
    opacity: .8;
    /*background: #dff9db;*/
    right: -80%;
    text-shadow: 2px 2px 8px black;
}

.llink {
    font-size: 28px;
    padding-left: 40px;
    color: #595959;
}

#face img {
    height:300px;
    /*border-radius: 700px;*/
}






